body {
    background-color: rgb(251, 253, 253);
}

hr {
    /* background-color: brown; */
    border-style: dotted none none;
    border-width: 10px;
    border-color: rgb(89, 11, 235);
    /* height: 2px; */
    width: 30%;
}

h1,
h3 {
    color: #66BFBF;
}